body{
  background-color: #364664;
}
table{
    width: 1140px;
    height: 682px;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
    font-weight: 400;
    font-size: 16px;
    margin: 20px auto;
}
i{
    padding-right: 6px;
    opacity: 0.6;
}
td, th {
  vertical-align: middle;
  box-shadow: -3px 0px 0px 0px rgba(0,0,0,0.15);
}
thead, tfoot{
    font-weight: 700;
}
.under{
  font-weight: 400;
}
.top, .under{
  font-size: 18px;
}
.bottom, .upperrow .red{
  font-size: 30px;
}
.upperrow .green, .upperrow .blue, .small{
  font-size: 24px;
}
.big{
  font-size: 60px;
}
thead tr{
    height: 86px;
    background-color: #fafafa;
}
thead .upperrow{
    height: 70px;
}
.green, .red, .blue, .black{
  color: #fff;
}
thead div{
    position: relative;
    display: inline-block;
}
span.small{
    position: absolute;
    top: 5px;
}
.green{
    background-color: #89c331;
}
.red{
    background-color: #f04a56;
}
.blue{
    background-color: #20807c;
}
.black{
    background-color: #484848;
}
tbody tr:nth-child(even){
    background-color: #e3e3e3;
}
tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}
tfoot tr{
    height: 110px;
}
tfoot .contact{
    background-color: #dddddd;
}
tfoot td{
    background-color: #eee;
}
tfoot a{
    display: inline-block;
    width: 192px;
    height: 49px;
    box-sizing: border-box;
    padding-top: 18px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}
a.black{
    border-bottom: 5px solid #404040;
}
a.green {
    border-bottom: 5px solid #79b027;
}
a.red{
    border-bottom: 5px solid #df3a46;
}
a.blue{
    border-bottom: 5px solid #16736f;
}
tfoot a:hover{
    box-shadow: inset 50px 19px 300px 0px rgba(0,0,0,0.12);
    color: #ddd;
}
